@tailwind base;
@tailwind components;
@tailwind utilities;

.code-block {
  @apply text-base leading-tight text-black;
}

.vscode {
  font-family: "Fira Code", monospace;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
}
